
{% extends "base.html" %}
    
{% block title %} Dojos {% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>New Dojo</h1>
            <form class="card shadow-sm p-4 mt-3" method="post" action='/crear_dojo'>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <button type="submit" class="btn btn-info">Create</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>All Dojos</h1>
            <ul>
                {%for dojo in dojos: %}
                <li><a href="{{ url_for('get_dojo', id=dojo.id)}}">{{dojo['nombre']}}</a></li>
                {% endfor %}
            </ul>
    
            <a href="/ninjas">Add ninja</a>
        </div>
    </div> 


</div>
{% endblock %}
